.bg-color-0{
    background-color: #CAE4F0;
}

.bg-color-2{
    background-color: #EDF1D4;
}

.bg-color-4{
    background-color: plum;
}
.bg-color-6{
    background-color: #ECC0C2;
}

.bg-color-12{
    background-color: #EDF1D4;
}
.bg-color-18{
    background-color: #BFD594;
}

.bg-color-48{
    background-color: #E8C488;
}

.vacuna-cabecera {
    background-color: #0AA5A7;
    color: white;
}